.site-title {
 	color: rgb(50,50,50);
 	text-decoration: none;
}


.navigation {
	text-align: center;
	font-family: "Vollkorn";
	font-size: 27pt;
	margin:0;
	padding:0;
}

.navigation h1{
	margin: 0;
}

.menu {
	color: rgb(50,50,50);
	text-decoration: none;
	padding: 2px;
}

.navigation ul {
	margin:0;
	padding:0;
	text-decoration: none;
}

.navigation li {
	margin:0;
	padding:0;
	display: inline-block;
}

.portrait{
	width: 55%;
}

img.portrait{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

body{
	margin-left: 5%;
	margin-right: 5%; 
}
