h1 { 
	text-align: center; 
}



.navigation {
	text-align: center;
	font-family: "Vollkorn";
	font-size: 27 pt;
}

.navigation a{
	color: rgb(175,0,0);
	text-decoration: none;
}

.navigation ul {
	margin:0;
	padding:0;
	color: rgb(200,0,0);
	text-decoration: none;
}

.navigation li {
	display: inline-block;
	margin:0;
	padding:0;
}

.portrait{
	width: 55%;
}

img.portrait{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

body{
	margin-left: 5%;
	margin-right: 5%; 
}